<h1>Richerer</h1>
<p>Finance tracker</p>

<% if user_signed_in? %>
    Welcome, <%= current_user.given_name  %>
    <%= button_to 'Log out', logout_path, method: :delete %>
<% else %>
    <%= link_to  'Log In', login_path %>
<% end %>